%% -*- mode:erlang -*-
[
 {kernel,
  [ {logger_level, info}
  , {logger,
     [ {handler, default, logger_std_h,
        #{ formatter => {logger_formatter,
                         #{ single_line => false
                          , template => [ "[" , level, {condition, [" ", condition], []}, "] "
                                        , msg
                                        , "\n"
                                        ]
                          }}
         , level => debug
         , type => standart_io
         , sync_mode_qlen => 0
         }}
     ]}
  ]}
].
