name: Bootstrap

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

permissions:
  contents: read
  pages: write
  id-token: write

jobs:
  build:
    strategy:
      matrix:
        otp: ['27']
        os: ['ubuntu-latest']
    runs-on: ${{matrix.os}}
    steps:
    - uses: actions/checkout@v4
    - uses: erlef/setup-beam@v1
      with:
        otp-version: ${{matrix.otp}}
    - name: Bootstrap
      run: |
        ./bootstrap.escript
    - name: Upload HTML files as artifact
      id: html
      uses: actions/upload-pages-artifact@v3
      with:
        path: _anvl_build/doc/anvl_html

  deploy:
    environment:
      name: github-pages
      url: ${{ steps.deployment.outputs.page_url }}
    runs-on: ubuntu-latest
    needs: build
    steps:
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4
